<div class="inbox-container">
  <div class="fixed-panel left">
    <div class="p-2">
      <a class="w-100 btn btn-primary" href="<%= new_email_path %>">New Email</a>
    </div>
    <div class="pre-scrollable">
      <div class="emails-list" data-controller="email-list">
        <ul>
          <% @emails.each do |email| %>
            <li class="" title="<%= "#{email.user_name || 'No Name' }<#{email.user_email}>" %>" data-controller="email-item"
                data-email-item-datetime="<%= email.created_at %>" data-email-item-url="<%= email_path email %>"
                data-action="click->email-item#fetchEmail">
              <div class="title"><span class="user"><strong><%= "#{email.user_name || 'No Name' }" %></strong></span>
                <time data-target="email-item.dateTime" class="timestamp" title="<%= email.created_at.strftime('%H:%M %b, %d %Y') %>"></time>
                <!--                <time class="timestamp"> <%#= email.created_at.strftime('%b %d %Y') %></time>-->
              </div>
              <div class="subject"><%= email.subject %></div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="fixed-panel right pre-scrollable">
    <div class="container email" id="emailContainer">
    </div>
  </div>
</div>
<div id="emailFormWrapper"></div>
