<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MSA Mailbox</title>
    <base href="./">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-theme="dark">
    <%= render 'shared/navbar' if user_signed_in? %>
    <%= yield %>
    <%= render 'shared/flash_messages' %>
  </body>
</html>
